.App {
  font-family: Arial, sans-serif;
 
  padding: 20px;
}

.main-container {
 height: 100vh;
}

.sidebar {
  width: 25%; /* Sidebar takes 25% of the width */
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.content {
  align-items: center;
  flex-grow: 1; /* Content takes remaining width */
  padding: 20px;
}
.btn{
  text-align:right;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.login-form input {
  margin: 10px;
  padding: 10px;
  width: 200px;
  font-size: 16px;
}

.login-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
}

.sign-out-btn {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff4444;
  color: white;
  border: none;
  cursor: pointer;
}

.sign-out-btn:hover {
  background-color: #cc0000;
}
